Django>=5.2,<5.3
django-jazzmin>=3.0.1,<4.0.0
gunicorn==21.2.0
whitenoise==6.6.0
python-dotenv==1.2.1

# التخزين
django-cloudinary-storage==0.3.0
cloudinary==1.44.1

# الفورم
django-crispy-forms==2.1
crispy-bootstrap5==0.7

# إضافات
django-ckeditor==6.7.3
django-cors-headers==4.7.0
djangorestframework==3.16.1

# صور
Pillow>=12.0.0,<13.0.0

# HTTP
requests==2.31.0
google-api-python-client>=2.170.0,<3.0.0
google-auth>=2.40.0,<3.0.0

# كاش / مهام (اختياري)
redis==5.0.1
celery==5.3.4

